
.main-app{
  margin: auto;
  background-color: rgb(125,203,250);
  padding: 30px 50px;
  width: 450px;
 }

 .task{
  margin: 10px;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 5px ;
  background-color: rgb(190,229,253);
 }

 Button{
  background-color: rgb(37,105,246) !important;
 }